<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>collapseexpand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F81C4D5B1C09793C004A0458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81C4D6F1C09793C004A0458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81C4D7A1C09793C004A0458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
